.App {
    max-width: 1280px;
    width: 100%;
    background-color: white;
    padding: 20px;
    color: #515151;
    min-height: 100vh;

    .project-selector {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .create-task-panel {
        display: flex;
        gap: 20px;
        border: 1px solid #515151;
        padding: 20px;
        flex-direction: column;
    }
}